.property-details {

	text-align: right;
}

.search-again {

	text-align: center;
}

.property-icon {
	vertical-align: middle;
	font-size: 20px;
	margin-right: 10px;
}

.result-thumbnail {
	max-height: 308px;
	overflow: hidden;
	margin-bottom: 15px;
}

#map-canvas {
  margin-left:17.5%;
  width: 65%;
  height: 60%;
}

#status {
  color: rgb(255, 25, 25);
  margin-left: 24%;
  margin-top: 35px;
  margin-bottom: 0px;
  padding: 0;
}

#mapTitle {
  color: rgb(90, 170, 255);
  margin-left: 24%;
  margin-bottom: 0px;
}

#sort {
  text-align: center;
}

.dropdown-menu {
	margin-left: 45%;
}
